name: "Pull Request Labeler"
on:
- pull_request_target

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        fetch-depth: 0
    - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6
      with:
        repo-token: ${{ secrets.GH_RENOVATE_WRITER_TOKEN }}